@model BetterValidationViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Best Validation</h2>
<hr />

<partial name="_BizRules" />

<form asp-controller="Home" asp-action="Best" class="needs-validation">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="row flex-row flex-sm-row flex-column">
            <div class="col-lg-5">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row flex-row flex-sm-row flex-column">
            <div class="col-lg-5">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row flex-row flex-sm-row flex-column">
            <div class="col-lg-5">
                <label asp-for="EmailAddress" class="form-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row flex-row flex-sm-row flex-column">
            <div class="col-lg-5">
                <label asp-for="SocialSecurityNumber" class="form-label"></label>
                <input asp-for="SocialSecurityNumber" class="form-control" />
                <span asp-validation-for="SocialSecurityNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row flex-row flex-sm-row flex-column">
            <div class="col-lg-5">
                <label asp-for="DateOfBirth" class="form-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row flex-row flex-sm-row flex-column">
            <div class="col-lg-5">
                <label asp-for="DateOfGraduation" class="form-label"></label>
                <input asp-for="DateOfGraduation" class="form-control" />
                <span asp-validation-for="DateOfGraduation" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row flex-row flex-sm-row flex-column">
            <div class="col-lg-5">
                <label asp-for="EvenNumber" class="form-label"></label>
                <input asp-for="EvenNumber" class="form-control" />
                <span asp-validation-for="EvenNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

@section Scripts {
    <!-- Generally you'll want this in your _Layout.cshtml or similar -->
    <script src="~/js/mvc-validation.js" asp-append-version="true"></script>
}