<div class="alert alert-info" role="alert">
    <h4>Business Rules</h4>
    <ul>
        <li>All items are required.</li>
        <li>SSN must be 9 or 11 characters, properly formatted. All other strings max 50 characters.</li>
        <li>Email address must be properly formatted.</li>
        <li>Dates must be properly formatted.</li>
        <li>Graduation Date must be before Birth Date.</li>
        <li>Enter an even number for funsies.</li>
    </ul>
</div>